.main {
  background-image: linear-gradient(to bottom, white, #ffdddd);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Teacup {
  display: flex;
  justify-content: center;
}

#NewSession {
  border-radius: 10px;
  border-color: black;
  width: 200px;
  height: 35px;
}
#NewSession:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}

.Hidden {
  display: none;
}

.MuiGrid-container-1269 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
